<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Coming soon page">
    <meta name="author" content="Your name">
    <title>Coming soon page built on Smart Home Application</title>
    <!-- Bootstrap -->
    <link href="../static/soon/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
    <!-- Bootstrap responsive -->
    <link href="../static/soon/css/bootstrap-responsive.min.css" rel="stylesheet" type='text/css'>
    <!-- Jquery Countdown -->
    <link href="../static/soon/css/jquery.countdown.css" rel="stylesheet" type='text/css'>
    <!-- Fontawesome -->
    <link href="../static/soon/css/font-awesome.css" rel="stylesheet" type='text/css'>
    <!-- Full screen slider -->
    <link href="../static/soon/css/full-screen-slider.css" rel="stylesheet" type='text/css'>
    <!-- Coming soon -->
    <link href="../static/soon/css/coming-soon.css" rel="stylesheet" type='text/css'>
    <!-- Coming soon responsive -->
    <link href="../static/soon/css/coming-soon-responsive.css" rel="stylesheet" type='text/css'>
    <!--[if IE 7]>
      <link rel="stylesheet" type="text/css" href="css/font-awesome-ie7.min.css">
    <![endif]-->
      <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="css/coming-soon-ie-lt-9.css">
    <![endif]-->
  </head>
  <body>
    <div class="full-screen-slider">
      <!-- Put the list of images you want to slide in full screen here.
       The image which has the class 'active' will be the starting slide.
       -->
      <img src="../static/soon/img/room.jpg" alt="Room" class="active">
      <img src="../static/soon/img/inner.jpg" alt="Inner">
      <img src="../static/soon/img/table.jpg" alt="Table">
      <img src="../static/soon/img/flower-collection.jpg" alt="Flower">
      <img src="../static/soon/img/banana.jpg" alt="Banana">
      <img src="../static/soon/img/nice.jpg" alt="Nice">
    </div>
    <div class="container">
      <div class="widget transparent lighting-border rounded-corner">
        <h1 class="brand align-center">
          <i class="icon-fire"></i> Smart Home
        </h1>
        <h2 class="description">
          We are building our awesome new website.It shoud be back up and running soon.
          In the meantime, check out the cool things on our LinkedIn and GitHub! 
        </h2>
        <!-- Below div will be transformed as counter -->
        <div class="timer">
        </div>
        <div class="clearfix"></div> 
      </div>
      <!--
          <form class="form-search subscribe-container">
        <div class="input-append">
          <input type="email" class="subscribe-box" placeholder="Your email" required>
          <button type="submit" class="btn btn-success subscribe-btn">Subscribe</button>
        </div>
      </form>
    -->
      <div class="footer align-center">
        
        <span class="social transparent lighting-border rounded-corner">
          <a href="#"><i class="icon-facebook"></i></a>
          <a href="#"><i class="icon-twitter"></i></a>
          <a href="#"><i class="icon-google-plus"></i></a>
          <a href="https://github.com/AKASH-L-M"><i class="icon-github"></i></a>
        </span>
      </div>
    </div>
    <script type="text/javascript" src="../static/soon/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/soon/js/jquery.countdown.js"></script>
    <script type="text/javascript" src="../static/soon/js/full-screen-slider.js"></script>
    <script type="text/javascript" src="../static/soon/js/coming-soon.js"></script>
  </body>
</html>
